#thermostat {
  display: inline-block;
  font-size: 30pt;
}

#thermoWrapper {
  width: auto;
  text-align: center;
  background-color: lightgrey;
  font-size: 20pt;
}

#buttonRack {
  width:auto;
  text-align: center;
}

#powersaveRack {
  padding-top: 10px;
  width: auto;
  text-align: center;
}

.buttons {
  font-size: 20px;
  font-family: "Arial Black";
}