#thermostat {
  color: green;
  font-size: 30pt;
  display: inline-block;
}

#thermoWrapper {
  width: auto;
  text-align: center;
  background-color: lightgrey;
}

#buttonRack {
  width:auto;
  text-align: center;
}

#powersaveRack {
  padding-top: 10px;
  width: auto;
  text-align: center;
}
